@import "./Global";

sim {
  background-color: #F5F5F5;
}

sim > div {
  background-image: url("./shockball2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.shockball-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 10;
  .inner-shockball-modal {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    width: 60%;
    margin: 30px auto;
    background: #f1f1f1;
    border: 1px solid #0C93EB;
    border-radius: 5px;
    border-top-left-radius: 5px;
    color: #000000;
    min-height: 100px;
    padding: 10px;
    @include mobile {
      width: 100%;
    }
    a {
      z-index: 11!important;
      line-height: 24px!important;
      position: absolute!important;
      right: 15px!important;
      top: 12px!important;
      box-shadow: none!important;
    }
    .contract-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: center;
      padding-top:50px;
      .modal-title {
        flex: none;
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        font-size: 2em;
        font-weight: 900;
        top: 0;
        background: #0C93EB;
        color: #ffffff;
      }
      .contract-offer {
        flex:1;
        margin:40px;
        margin-top:0;
        #contract {
          display: flex;
          flex-direction: column;
          button {
            position: absolute;
            bottom: 0;
            right: 50px;
          }
          .displayErrors input:invalid {
            border-color: red;
          }
        }
      }
      .player-value {
        flex:1;
        text-align: center;
        max-width: 200px;
        margin:40px;
        margin-top:0;
        > div {
          padding-top: 20px;
        }
      }
    }
  }
}

.main-wrapper {
  height:100%;
  overflow: auto;
  &:after {
    content: "";
    display: block;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,#356BA1 100%,rgba(255,255,255,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .content-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
    height: auto;
    position: relative;
    z-index: 1;
    top-header {
      position: relative;
      z-index: 1;
    }
    navigation {
      position: relative;
      z-index: 1;
    }
  } 
}