sim {
  background-color: #F5F5F5;
}

sim > div {
  background-image: url("./shockball2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-wrapper {
  height:100%;
  overflow: auto;
  &:after {
    content: "";
    display: block;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,#356BA1 100%,rgba(255,255,255,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .content-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 400px;
    height: auto;
    position: relative;
    z-index: 1;
    top-header {
      position: relative;
      z-index: 1;
    }
    navigation {
      position: relative;
      z-index: 1;
    }
  } 
}