@import "../Global";

#deposit {
    margin-bottom:30px;
    input {
        display:block;
    }
    button {
        position: absolute;
        right: 20px;
        bottom: -15px;
    }
    .disclaimer {
        font-size: 0.9em;
        color: red;
    }
}

.office-wrapper {
    position: relative;
    z-index: 1;
    margin: 5px;
    width: calc(100% - 10px);
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    color:#ffffff;
    a {
        color: #007bff!important;
        text-decoration: none!important;
        cursor: pointer;
    }
    .team-info {
        display: flex;
        align-items: stretch;
        justify-content: center;
        @include mobile {
            flex-direction: column;
        }
        .inner-wrapper {
            flex: 1;
            padding: 20px;
            @include mobile {
                padding: 10px;
            }
        }
        .transaction-wrapper {
            flex:2;
        }
    }
    .inner-wrapper {
        box-sizing: border-box;
        padding: 30px;
        padding-top: 0;
        @include mobile {
            padding: 10px;
        }
        .accounts {
            text-align: center;
            .btn-primary {
                margin-top: 20px;
            }
        }
        .contract-header {
            font-size: 1.5em;
            font-weight: 900;
            padding: 10px;
        }
    }
    .react-grid-Container {
        width:100%!important;
        .react-grid-Main {
            background:transparent;
            outline:none;
            .react-grid-Grid {
                background:transparent;
                border: none;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                .react-grid-Header {
                    background-color: #0C93EB;
                    color: #ffffff;
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                    .react-grid-HeaderCell {
                        background-color: #0C93EB;
                        color: #ffffff;
                    }
                }
                .react-grid-Canvas {
                    background-color: transparent;
                    overflow-y: hidden;
                }
                .react-grid-Row--even {
                    color: #ffffff;
                    background: rgba(0,0,0, 0.5);
                    .react-grid-Cell {
                        color: #ffffff;
                        background: rgba(0,0,0, 0.5);
                        &:hover {
                            background:inherit;
                        }
                    }
                }
                .react-grid-Row--odd {
                    color: #ffffff;
                    background: none;
                    .react-grid-Cell {
                        color: #ffffff;
                        background: none;
                        &:hover {
                            background:inherit;
                        }
                    }
                }
            }
        }
    }
}