.squad-wrapper {
    position: relative;
    z-index: 1;
    margin: 5px;
    width: calc(100% - 10px);
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    color:#ffffff;
}